body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
:root {
  --main-text-color: #212121;
}

:root {
  --main-font-family: "Roboto";
}

.logo,
.accent {
  text-decoration: none;
}

/* Site Nav */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.accent {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.nav-link {
  text-decoration: none;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  cursor: pointer;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.auth-link {
  text-decoration: none;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: pointer;
}

.auth-link:hover,
.auth-link:focus {
  color: #2196f3;
}
/* Головний герой */
.hero {
  background: #2f303a;
}
.hero-title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* Можливості студії */
.studio-capabilities {
}
.studio-main-title {
  font-size: 0;
}
.studio-title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.studio-text {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Приклади робіт */
.work-examp-title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* Команда */
.team-main-title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-title {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-pos {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
}

/* footer */
.footer {
  /* position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2094px; */
  background: #2f303a;
}
.accent-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-adres {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-nav {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav:hover,
.footer-nav:focus {
  color: #2196f3;
}
